body{
	background-color: #181818;
	color: #EEEEEE;
	margin: 0;
}
a{
	color: lightseagreen;
}
a:visited{
	color: cyan;
}
#header{
	position: sticky;
	top: 0;
	left: 0;
	width: 100%;
	margin: 0;
}
#content{
	display: flex;
	flex-flow: row wrap;
	min-height: 100%;
	margin: 0 200px 0 200px;
	align-content: center;
}
.contentCard{
	padding: 0 10px 0 10px;
	border: 1px white solid;
	border-radius: 10px;
	box-shadow: gray 1px 1px 15px;
	width: max-content;
	max-width: 600px;
	min-width: 350px;
	margin: 20px 20px 20px 20px;
	flex: 25%;
}
@media (max-width: 1000px){
	#content{
		margin: 0 0 0 0;
		max-width: 100%;
	}
	.contentCard{
		margin: 20px 15px 20px 15px;
		max-width: 100%;
		flex: 100%;
	}
}
#footer{
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
}
/* top menu bar */
.menubar{
	background-color: #4F4F4F;
	border-radius: 8px;
	margin-right: 15px;
	margin-left: 15px;
}
/* menu buttons */
.menubar ul{
	list-style-type: none;
	border-radius: 8px;
	padding: 0;
	/* Overflow hidden to fill whole width */
	overflow: hidden;
	background-color: inherit;
}
.menubar li{
	background-color: inherit;
	float: left;
}
.menubar li a{
	display: block;
	color: #FFFFFF;
	text-align: center;
	text-decoration: none;
	padding: 12px 14px;
	border-radius: 8px;
}
/* current page is blue */
.menubar a.current{
	color:#FFFFFF;
	background-color: #00CCCC;
}
/* black on mouse-over */
.menubar li a:hover{
	background-color: #000000;
}